{% extends 'bonneteer/base.html' %}
{% load static %}
{% block body_block %}
<h1 class="bigHeader">Current trusted sites</h1>
<h2 class="aboutHeader">Torrent sites</h2>
<ul class="aboutLinks">
{% for name,link in Torrents.items %}
<li><a href="{{ link }}">{{ name }}</a></li>
{% endfor %}
</ul>

<h2 class="aboutHeader">Torrent sites</h2>
<ul class="aboutLinks">
{% for name,link in DirectDownload.items %}
<li><a href="{{link}}">{{name}}</a></li>{{d}}
{% endfor %}
</ul>

<h2 class="aboutHeader">Torrent sites</h2>
<ul class="aboutLinks">
{% for name,link in Repackers.items %}
<li><a href="{{ link }}">{{name}}</a></li>
{% endfor %}
</ul>


<h1 class="bigHeader">How Bonneteer Works</h1>
<p>From it's database of trusted sites (1), bonneteer sends out requests looking for trusted sources (2). Returning the page on which they appear on</p>
<h2 class="aboutHeader">Getting trusted sites</h2>
<p class="aboutText">Bonneteer updates its database of trusted sites weekly by getting the megathread from the r/PiratedGames sub, parsing its content and spitting out a list of trusted releases and websites</p>

<h2 class="aboutHeader">Getting trusted repackers</h2>
<p class="aboutText">With the list of trusted releases and safe sites, bonneteer requests all sites by threading, and returning the page where the release was found, future versions will include direct links</p>

<h2 class="aboutHeader">The name</h2>
<p class="aboutText">Stede bonnet  was an early eighteenth-century Barbadian pirate, sometimes called "The Gentleman Pirate" because he was a moderately wealthy land-owner before turning to a life of crime.
    Most people pirating games can probably buy them, but why do that when you can pirate them, the Bonnet way!
</p>
{% endblock %}