<!DOCTYPE html>

{% load static %}

<header>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" href="{% static 'images/bLogov1.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Jaldi&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Jaldi&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap" rel="stylesheet"> 
    <script src="{% static 'js/load.js' %}"></script>
    <title>Bonneteer -
        {% block title_block %}
        {% endblock %}
    </title>

</header>


<html>
    <head class="container">
        <div id="head">
            <h1 id="title">Bonneteer</h1>
                <nav class="topnav" id="navbar">
                    <ul>
                        <li><a href="{% url 'bonneteer:index' %}">Home</a>   </li>
                        <li><a href="{% url 'bonneteer:releases' %}">Releases</a></li>
                        <li><a href="{% url 'bonneteer:about' %}">How it works</a></li>
                    </ul>
                </nav>
        </div>
    </head>
    <body>
        {% block body_block %}
        {% endblock %}

    </body>
</html>