{% extends 'bonneteer/base.html' %}
{% load static %}

{% block title_block %}
Search
{% endblock %}
{% block body_block %}
<head>
    <title>Bonneteer</title>
</head>

<body>
    <div class="container" id="searchBlock">

        <h2 id="searchTitle">{{ head }}</h2>


        <section id="searchForm">
            <form onsubmit="
            document.getElementById('loadingZone').style.display = 'block';
            document.getElementById('searchButton').style.display = 'none';
            document.getElementById('randomButton').style.display = 'none';" 
            method="POST" >
                {% csrf_token %}
                {% for field in form %}
                    {{ field }}
                {% endfor %}
                {% if showButtons %}
                <button type="submit" id="searchButton" name="std_search">Search</button>
                {% endif %}
                
            </form>
            <form onsubmit="
            document.getElementById('loadingZone').style.display = 'block';
            document.getElementById('randomButton').style.display = 'none';
            document.getElementById('searchButton').style.display = 'none';"
            method="POST">
                {% csrf_token %}
                {% if showButtons %}
                <button type="submit" id="randomButton" name="rnd_search">Random Search</button>
                {% endif %}
            </form>
        </section>



        
        <div id="loadingZone">
            <div id="loader"></div>
            <p>Searching...</p>
        </div> 



        {% if results %}

            <ul id="results">
            {% for key,result in results.items %}

            
                <li id="releaseBlock">

                        <h3>{{ key }}</h3>
                        <div>
                            {% for site in result %}
                                <a href="{{ site.1 }}">{{ site.0 }}</a><br>
                            {% endfor %}
                        </div>

                </li>



            {% endfor %}
        </ul>
        {% elif message %}
        <h3 id="statusMessage">{{ message }}</h3>
        {% endif %}



    </div>

</body>

{% endblock %}
