{% extends 'bonneteer/base.html' %}
{% load static %}


{% block body_block %}
<head>
    <title>Bonneteer</title>
</head>

<body>
    <div class="container" id="searchBlock">
        <div class="backgroundImg">
        <h2 id="searchTitle">Bonnet Search</h2>


        <section id="searchForm">
            <form onsubmit="document.getElementById('loader').style.display = 'block';document.getElementById('searchButton').style.display = 'none'" method="POST" >
                {% csrf_token %}
                {% for field in form %}
                    {{ field }}
                {% endfor %}
                <button id="searchButton" >Search</button>
                
            </form>
        </section>


        </div>
        
        <div id="loader"></div> 



        {% if results %}

            <ul id="results">
            {% for key,result in results.items %}

            
                <li id="releaseBlock">

                        <h3>{{ key }}</h3>
                        <div>
                            {% for site in result %}
                                <a href="{{ site.1 }}">{{ site.0 }}</a><br>
                            {% endfor %}
                        </div>

                </li>



            {% endfor %}
        </ul>
            
        {% endif %}



    </div>

</body>

{% endblock %}
