{% extends 'bonneteer/base.html' %}
{% load static %}

{% block title_block %}
Releases
{% endblock %}


{% block body_block %}
<head>
    <title>Releases</title>
</head>

<body>
    <p style='color: whitesmoke;text-align: center;font-size: medium;'>All releases fetched from <a style="text-decoration: none;color: yellow;" href="https://crackwatch.com/">Crackwatch</a> and updated weekly<br>Having some problems with crackwatch atm, will fix ASAP, thank you for being awesome pirates!</p>
    <h1 class="bigHeader" style="text-align: center;">Triple AAA releases</h2>
    {% for title in tripleA %}
        <h4 style="color: whitesmoke;text-align: center;">{{title}}</h4>
    {% endfor %}

    <h1 class="bigHeader" style="text-align: center;margin-top: 5%;">Indie releases</h2>
    {% for title in indie %}
        <h4 style="color: whitesmoke;text-align: center;">{{title}}</h4>
    {% endfor %}
</body>
{% endblock %}